@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background:white;
    margin : 0;
    padding : 0;

}